* {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

html,
#root,
.App,
.home {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#name {
  position: absolute;
  color: grey;
  font-size: 35px;
  margin: 10px;
}

.App {
  background-image: url('../assets/image/aurora.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0;
}
